# <%= packageName %> Test Results

> **Started**: <%= date.toUTCString(); %>

<center>
  <%- include('summary.ejs') %>

  <%_ for(var i=0; i < testResults.length; i++) { _%>
  <%_ const result = testResults[i]; _%>
  <%_ if (result.numFailingTests> 0 || displayAllTests) { _%>
  <table>
    <thead>
      <tr>
        <th><%= result.testFilePath.replace(/^.*[\\\/]/, '') %></th>
        <th></th>
        <th></th>
        <th><%= result.perfStats.runtime / 1000 %></th>
      </tr>
    </thead>
    <tbody>
      <%_ for(var j=0; j < result.testResults.length; j++) { _%>
      <%_ const test = result.testResults[j]; _%>
      <%_ if (test.status === 'failed' || displayAllTests) { _%>
      <%_ const fixture = test.ancestorTitles.join(' / '); _%>
      <%_ const colour = test.status === 'passed' ? 'lightgreen' : test.status === 'failed' ? 'pink' : 'lightyellow' _%>
      <tr style="background-color: <%= colour %>; color: black">
        <td><strong><%= fixture %></strong></td>
        <td><i><%= test.title %></i></td>
        <td><%= test.status %></td>
        <td><%= test.duration / 1000 %></td>
      </tr>
      <%_ } _%>
      <%_ } _%>
    </tbody>
  </table>
  <%_ } _%>
  <%_ } _%>
</center>