# <%= packageName %> Test Results

> **Started**: <%= date.toUTCString() %>

<center>

  <%- include('summary.ejs') %>

  <%_ for(var i=0; i < testResults.length; i++) { _%>
  <%_ const result=testResults[i]; _%>
  <table>
    <thead>
      <tr>
        <th>File
        </th>
        <th>Suite
        </th>
        <th>Test
        </th>
        <th>Status
        </th>
        <th>Time
          (s)
        </th>
      </tr>
    </thead>
    <tbody>
      <% let testsToShow=[]; if (displayAllTests) { testsToShow=result.testResults; } else {
                                    testsToShow=result.testResults.filter(t=>
                                    t.status
                                    ===
                                    "failed");
                                    }
                                    for (let
                                    j = 0; j
                                    < testsToShow.length; j++) { const test=testsToShow[j]; const
                                        fixture=test.ancestorTitles.join(' / ');
          const colour = test.status === ' passed' ? 'lightgreen' : test.status==='failed' ? 'pink' : 'lightyellow' ;
                                        %>
      <tr style="background-color: <%= colour %>; color: black">
        <td>
          <%= result.testFilePath.replace(/^.*[\\\/]/, '' ) %>
        </td>
        <td><strong>
            <%= fixture %>
          </strong>
        </td>
        <td><i>
            <%= test.title %>
          </i>
        </td>
        <td>
          <%= test.status==="failed" ? "failed" : (displayAllTests ? test.status
                                                    : "" ) %>
        </td>
        <td>
          <%= (test.duration / 1000).toFixed(3) %>
        </td>
      </tr>
      <% if (detailed && test.status==="failed" ) { %>
      <tr>
        <td colspan="5">
          <% if (test.failureMessages && test.failureMessages.length) { %>
          <pre><%= test.failureMessages.join('\n\n') %></pre>
          <% } %>
          <% if (test.consoleLogs && test.consoleLogs.length) { %>
          <details>
            <summary>
              Console
              Logs
            </summary>
            <pre><%= test.consoleLogs.join('\n') %></pre>
          </details>
          <% } %>
        </td>
      </tr>
      <% } %>
      <% } // end for testsToShow %>
    </tbody>
  </table>
  <% } %>
</center>