# <%= packageName %> Test Results

> **Started**: <%= date.toUTCString(); %>

<center>
  <%_ for(var i=0; i < testResults.length; i++) { _%>
  <%_ const result = testResults[i]; _%>
  <%_ if (result.numFailingTests > 0 || displayAllTests) { _%>
  <table>
    <thead>
      <tr>
        <th><%= result.testFilePath.replace(/^.*[\\\/]/, '') %></th>
        <th></th>
        <th></th>
        <th><%= (result.perfStats.runtime / 1000).toFixed(3) %></th>
      </tr>
    </thead>
    <tbody>
      <%_ for(var j=0; j < result.testResults.length; j++) { _%>
      <%_ const test = result.testResults[j]; _%>
      <!-- Only Show Failed Tests (override with option: displayAllTests) -->
      <%_ if (test.status === 'failed' || displayAllTests) { _%>
      <%_ const fixture = test.ancestorTitles.join(' / '); _%>
      <%_ const colour = test.status === 'passed' ? 'lightgreen' : test.status === 'failed' ? 'pink' : 'lightyellow' _%>
      <tr style="background-color: <%= colour %>; color: black">
        <td><strong><%= fixture %></strong></td>
        <td><i><%= test.title %></i></td>
        <td><%= test.status %></td>
        <td><%= (test.duration / 1000).toFixed(3) %></td>
      </tr>
      <!-- Show Console Logs or FailureMessages (override with option: consoleLogs, failureMessages) -->
      <%_ const displayLogs = (typeof consoleLogs !== 'undefined') && consoleLogs.length > 0 && (test.consoleLogs && test.consoleLogs.length > 0); _%>
      <%_ const displayFailureMessages = (typeof failureMessages !== 'undefined') && failureMessages && test.failureMessages && test.failureMessages.length > 0; _%>
      <%_ if (displayLogs || displayFailureMessages) { _%>
      <tr>
        <td colspan="4">
          <details>
            <summary>Console Logs</summary>
            <pre>
              <!-- consoleLogs -->
              <%_ if (displayLogs && (test.consoleLogs && test.consoleLogs.length > 0)) { _%>
              <%= JSON.stringify(test.consoleLogs, null, 2) %>
              <%_ } _%>
              <!-- failureMessages -->
              <%_ if (failureMessages && test.failureMessages && test.failureMessages.length > 0) { _%>
              <%= test.failureMessages %>
              <%_ } _%>
            </pre>
          </details>
        </td>
      </tr>
      <%_ } _%>
      <%_ } _%>
      <%_ } _%>
    </tbody>
  </table>
  <%_ } _%>
  <%_ } _%>
</center>